/**
Common
**/
body{
    font-family: "monospace","san-serif";
}
.font-primary{
    color:#00abae;
}
a.nav-link {
 font-weight: bold;    /***********/
}
.title-icon{
    font-size: 20px;
    font-weight: bold;
}
h2 {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 20px;
}
a.font-black {
    color: black !important;
}
p {
    font-size: 16px;
}

/**** About ***/
#about {
margin: 60px auto;
max-width: 400px;
text-align: center;
}
#about img{
    border-radius: 100%;
    width: 120px;
    margin-bottom: 10px;

}

#about .name {
    font-weight: bold;
    font-size: 19px;
}
#about .vocation {
    font-size: 17px;
    color: #a8a8ab;
    margin-bottom:10px;
}
#about .skills {
    font-size:15px;
    color: #008a8b;
    margin-bottom: 10px;
}
#about .email {
    font-size: 14px;
    margin-top: 14px;
}
#about .icons{
    margin-top: 20px;
    font-size: 30px;
}
#about .icons a{
    color: rgb(0,0,0)
}

/****Project****/
#Project {
    margin: 60px auto;
    width: 80%;
    }
#Project h2{
    text-align: center;
}

#Project .card img {
    width: 100%;
}
#project .card-title {
    font-weight: bold;
}